{% extends 'base_generic.html' %}
{% load static %}

{% block title %}
    <title>Blog Posts</title>
{% endblock %}

{% block leaf %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
{% endblock %}

{% block content %}
<div class="header-bar">
    <span class="user">{{ user }}</span>
    <div class="filter-bar">
        <form method='get'>
            <select name='source' onchange="this.form.submit()">
                <option value = "all" {% if filter_type == 'all'%} selected{% endif %} > All </option>
                <option value = "user" {% if filter_type == 'user'%} selected{% endif %} > User Posts </option>
                <option value = "api" {% if filter_type == 'api'%} selected{% endif %} > API </option>
            </select>
        </form>
    </div>
    {% if user.is_authenticated %}
    <div class="create-post">
        <p><a class="link" href="{% url 'create_post' %}">+ Create New Post</a></p>
    </div>
    <form method="post" action="{% url 'logout' %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="logout-btn">Logout</button>
    </form>
    {% endif %}
</div>




<div class="posts">
    <h1>BLOG POSTS</h1>
    {% for post in page_obj %}
        {% if post.title %}
        <div class="post-item"> 

          
            <div>
                {% if post.id %}
                    <p class="post-title" >{{ post.title }}</p>
                {% else %}
                    <p class="post-title">{{ post.title }}</p>
                {% endif %}
            </div>
            <p class="description">{{ post.description|default:post.content }}</p>

            <div class="option">

                {% if post.id %}
                <a  class="read-more" href="{% url 'post_detail' post.id %}?page={{ page_obj.number }}&source={{ filter_type }}">Read More</a>
                {% else %}
                <a  class="read-more" href="{% url 'api_post_detail' post.index %}?page={{ page_obj.number }}&source={{ filter_type }}">Read More</a>
                {% endif %}
        
                <!-- {% if post.id and user == post.author %} -->
                    <a class="read-more" href="{% url 'edit_post' post.id %}?page={{ page_obj.number }}&source={{ filter_type }}">Edit</a>
                    <a class="read-more" href="{% url 'delete_post' post.id %}?page={{ page_obj.number }}&source={{ filter_type }}">Delete</a>
                <!-- {% endif %} -->
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>
    
<div class="pagination">   
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}&source={{ filter_type }}">Previous</a>
    {% endif %}    
    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}&source={{ filter_type }}">Next</a>
    {% endif %}
</div>
{% endblock %}
