{% extends 'base_generic.html' %}

{% block content %}
<form method='get'>
    <select name='source' onchange="this.form.submit()">
        <option value = "all" {% if filter_type == 'all'%} selected{% endif %} > All </option>
        <option value = "user" {% if filter_type == 'user'%} selected{% endif %} > User Posts </option>
        <option value = "api" {% if filter_type == 'api'%} selected{% endif %} > API </option>
    </select>
</form>

{% for post in page_obj %}
    {% if post.title %}
    <h3>{{ post.title }}</h3>
    <p>{{ post.description|default:post.content }}</p>
        {% if post.url %}
            <a href="{{ post.url }}" target="_blank">Read More</a>
        {% endif %}
    {% endif %}
{% endfor %}

<div>
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}&source={{ filter_type }}">Previous</a>
    {% endif %}

    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}&source={{ filter_type }}">Next</a>
    {% endif %}
</div>
{% endblock %}