{% extends 'base_generic.html' %}
{% load static %}
{% block title %}
<title>Create New Post</title>
{% endblock %}

{% block leaf %}
<link rel="stylesheet" href="{% static 'css/create_post.css' %}">
</link>
{% endblock %}

{% block content %}
<div class="create-post-wrapper">
    <h2>Create New Post</h2>
    <form method="post" class="create-post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="submit-btn">Create</button>
    </form>
    <a class="back-link"
        href="{% url 'blog' %}?page={{ request.GET.page|default:'1' }}&source={{ request.GET.source|default:'all' }}">←
        Back to posts</a>
</div>
{% endblock %}