<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}
    <title>Air Temperature App</title>
    {% endblock %}

    {% block leaf %}
    {% endblock %}
</head>

<body>
    <header>
        <h1>Air Temperature App</h1>
        <nav>
            {% if not request.path == '/accounts/login/' %}
                {% if user.is_authenticated %}
                    <p>Welcome, {{ user.username }}!</p>
                    <form method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
            {% else %}
            <p>
                <a href="{% url 'login' %}"></a>
            </p>
            {% endif %}
            {% endif %}
        </nav>
    </header>

    {% block sidebar %}
    <!-- Insert default navigation or sidebar content here -->
    {% endblock %}

    <main>
        {% block content %}
        <!-- Default content text (typically empty) -->
        {% endblock %}
    </main>
</body>

</html>
