{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="Air temperature app" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
            rel="stylesheet">
        
        <!-- <link rel="icon" href="img/favicon.png" /> -->
        <!-- <link rel="apple-touch-icon" href="img/apple-touch-icon.png" /> -->
        <!-- <link rel="manifest" href="manifest.webmanifest" /> -->
        <link rel="stylesheet" href="{% static 'weather/styles/general.css' %}" />
        <script src="{% static 'weather/js/general.js' %}"></script>
         {% block leaf %}
         {% endblock %}

        {% block title %}
        <title>Air Temperature App</title>
        {% endblock %}
    </head>
<body>
    <header>
        <nav>
            <ul>
                {% block list_items %}
                {% endblock %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        {% block footer %}
        {% endblock %}
    </footer>
</body>
</html>
