{% extends "base_generic.html" %}
{% load static %}

{% block title %}
    <title>Login | Blog</title>
{% endblock %}

{% block leaf %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<section class="login-section">
    <div class="container">
        <div class="cover">
            <p class="subheading">LARGEST BLOG SOURCE</p>
            <h1>
                POWERED BY <span class="highlight block-line">CREATORS AROUND</span> THE WORLD.
            </h1>
            <p class="signup-prompt">Don't have account?</p>
            <p><a href="{% url 'signup' %}" class="create-account-link">Create account →</a></p>
        </div>
        <div class="login-form">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Log in</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
