{% extends "base_generic.html" %}
{% load static %}

{% block title %}
    <title>Login | Blog</title>
{% endblock %}

{% block leaf %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<section class="login-section">
    <div class="container">
        <div class="cover">
            <p class="subheading">LARGEST BLOG SOURCE</p>
            <h1>
                POWERED BY <span class="highlight block-line">CREATORS AROUND</span> THE WORLD.<span class="green-circles">
                    <span class="circle circle1"></span>
                    <span class="circle circle2"></span>
                    <span class="circle circle3"></span>
                    <span class="circle circle4"></span>
                    </span>
            </h1>

            <p class="signup-prompt">Don't have account?</p>
            <p><a href="{% url 'signup' %}" class="create-account-link">Create account →</a></p>
            <div class="cover-image">
                <div class="image-overlay">
                    <p class="overlay-heading">About us</p>
                    <p class="overlay-subtext">
                        Over <strong>3 million inspiring blog posts</strong>
                        written and shared by the world's
                        most passionate community of writers.
                    </p>
                </div>
                <img src="{% static 'images/login-blog.png' %}" alt="Blog visual"/>
            </div>
        </div>
        <div class="login-form">
            <div class="login-form-inner">
                <div class="login-card">
                    <h2 class="login-title">Login to your account</h2>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.username.label_tag }}
                            {{ form.username }}
                        </div>
                        <div class="form-group">
                            {{ form.password.label_tag }}
                            {{ form.password }}
                        </div>
                        <div class="form-forgot">
                            <a href="#" class="forgot-password">Forgot your password?</a>
                        </div>
                        <button type="submit" class="login-btn">login</button>
                    </form>
                    <div class="transparent-bottom-section"></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
