{% extends 'base_generic.html' %}
{% block title %}
Your Tasks
{% endblock %}

{% block header %}
{% if user.is_authenticated %}
<p>Hello, {{ user.username }} | <a href="{% url 'account_logout' %}">Logout</a></p>
<div id="filters">
    <strong>Filter:</strong>
    <a href="?filter=all" {% if active_filter == 'all' %}{% endif %}>All</a> |
    <a href="?filter=pending" {% if active_filter == 'pending' %}{% endif %}>Pending</a> |
    <a href="?filter=completed" {% if active_filter == 'completed' %}{% endif %}>Completed</a>
</div>
{% endif %}
{% endblock %}

{% block main %}
<div id="task-lists">
    {% include 'tasks/partials/task_lists_partial.html' %}
</div>

<div id="create-task-container">
    <a href="{% url 'task_create' %}"
       hx-get="{% url 'task_create' %}"
       hx-target="#create-task-container"
       hx-swap="innerHTML"
    >
    create task
    </a>
</div>

{% endblock %}
