{% extends 'base_generic.html' %}

{% block title %}
{{ task.title }}
{% endblock %}

{% block main %}
<h2>{{ task.title }}</h2>
<p>Description : {{ task.description|linebreaks }}</p>

{% if task.due_date %}
<p>Due Date: {{ task.due_date|date:"F j, Y" }}</p>
{% endif %}

<p>Priority: {{ task.priority }}</p>
<p>Completed: {% if task.is_completed %}✅{% else %}❌{% endif %}</p>
<p>Created At: {{ task.created_at|date:"F j, Y, g:i a" }}</p>

<p>
    <a href="{% url 'task_edit' task.pk %}">Edit</a> |
    <a href="{% url 'task_delete' task.pk %}">Delete</a> |
    <a href="{% url 'task_list' %}">Back to List</a>
</p>

{% endblock %}