{% extends "base_generic.html" %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block header %}
<h1 class="font-black text-[7.4rem] mt-[1.6rem] mb-[3.2rem]">Welcome to your To-Do List App</h1>
{% endblock %}

{% block nav %}
    {% if not user.is_authenticated %}
        <li>
            <a class="text-[#374151] hover:underline hover:text-[#111827] transition-all duration-150" href="{% url 'account_signup' %}">
                Sign Up
            </a>
        </li>
        <li>
            <a class="text-[#374151] hover:underline hover:text-[#111827] transition-all duration-150" href="{% url 'account_login' %}">
                Log In
            </a>
        </li>
        <li>
            <a class="text-[#374151] hover:underline hover:text-[#111827] transition-all duration-150" href="{% url 'account_reset_password' %}">
                Forgot Password?
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block main %}
<div class="uppercase text-sm font-semibold md:text-base tracking-wide space-y-[0.075rem] border-t border-[#e5e7eb]">
    {% if user.is_authenticated %}
        <h2>Hello, {{ user.username }}. You are logged in.</h2>

        <ul>
            <li>
                <a href="{% url 'task_list' %}">
                    View My Tasks
                </a>
            </li>
            <li><a href="{% url 'task_create' %}">Create a New Task</a></li>
            <li><a href="{% url 'account_logout' %}">Log Out</a></li>
        </ul>
    {% else %}
        <h2 class="mb-0 pb-0 pt-1 border-b border-[#e5e7eb]">You are not logged in</h2>
        <p class="pt-1 border-b border-[#e5e7eb]">Please sign in or create an account to manage your tasks.</p>
    {% endif %}
</div>
{% endblock %}
